@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* 背景とフォントは Next + Tailwind 側で指定するので消す */
  /* background: var(--background); */
  /* font-family: Arial, Helvetica, sans-serif; */

  /* 必要なら文字色だけ残す */
  color: var(--foreground);
  margin: 0;
}

